#include "windows.h"
#include "resource_def.h"

IDR_IIDX_FONT		RCDATA "df-popmix-w5.ttc"

IDR_icon_home		RCDATA "icon_home.png"
IDR_icon_keypad		RCDATA "icon_10key_mini.png"
IDR_keypad			RCDATA "icon_10key.png"
IDR_keypad_close	RCDATA "icon_10key_close.png"
