#include "windows.h"
#include "resource_def.h"

IDR_iidx_font			RCDATA "df-popmix-w5.ttc"

IDR_icon_home			RCDATA "icon_home.png"
IDR_icon_keypad			RCDATA "icon_keypad.png"
IDR_keypad				RCDATA "keypad.png"
IDR_keypad_close		RCDATA "keypad_close.png"
IDR_icon_card			RCDATA "icon_card.png"
IDR_icon_settings		RCDATA "icon_settings.png"
IDR_effector_bg			RCDATA "effector_bg.png"
IDR_effector_0			RCDATA "effector_0.png"
IDR_effector_1			RCDATA "effector_1.png"
IDR_effector_head		RCDATA "effector_head.png"
IDR_icon_concentration_on RCDATA "icon_concentration_on.png"
IDR_icon_concentration_off RCDATA "icon_concentration_off.png"

IDR_touch_effect01		RCDATA "touch_effect01.png"
IDR_touch_effect_cross	RCDATA "touch_effect_cross.png"
IDR_touch_effect_cross2	RCDATA "touch_effect_cross2.png"
